@charset "utf-8";
@import "./variables";
@import "bulma/bulma";
@import "./font";
@import "../components/hero.style.scss";
@import "../components/presentation.style.scss";
@import "../components/carnet.style.scss";
@import "../components/niort-tech.style.scss";
@import "../components/afterwork.style.scss";
@import "../components/programme.style.scss";
@import "../components/speakers/speakers.style.scss";
@import "../components/organisateurs.style.scss";
@import "../components/contacts.style.scss";

body{
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spinnaker", Helvetica, Arial, Lucida, sans-serif;
}

h2 {
  font-size: 32px;
  color: $lightgreen;
}

h3 {
  font-size: 22px;
}

.is-lightgreen {
  color: $lightgreen !important;
}

.full-width {
  width: 100%;
}

.eni-button {
  color: $darkblue !important;
  border-width: 0px;
  font-weight: 600 !important;
  background-color: $lightgreen;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 22.1px;
  text-decoration-color: $darkblue;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  &:hover {
    color: $white !important;
  }
}

.has-bg-darkblue {
  background-color: $darkblue !important;
}

.has-bg-lightgreen {
  background-color: $lightgreen !important;
}

.speaker-component{
  h2{
    background-color: white;
  }
}
.program-block{
  min-height: 300px;
}