$icomoon-font-family: "eni" !default;
$icomoon-font-path: "fonts" !default;

$icon-accompagner: "\e900";
$icon-coding: "\e901";
$icon-decouvrir: "\e902";
$icon-encourager: "\e903";
$icon-exercice: "\e904";
$icon-financement: "\e905";
$icon-informer: "\e906";
$icon-metier: "\e907";
$icon-reconversion: "\e908";

