@import "bulma/sass/utilities/initial-variables";

$darkblue: #251D5C;
$darkblue-invert: findColorInvert($darkblue);
$custom-colors: ("darkblue": ($darkblue, $darkblue-invert));


$hero-body-padding: 0;
$hero-body-padding-tablet: 0;
$hero-body-padding-small: 0;
$hero-body-padding-medium: 0;
$hero-body-padding-large: 0;


$icomoon-font-family: "eni" !default;
$icomoon-font-path: "fonts" !default;

$icon-accompagner: "\e900";
$icon-coding: "\e901";
$icon-decouvrir: "\e902";
$icon-encourager: "\e903";
$icon-exercice: "\e904";
$icon-financement: "\e905";
$icon-informer: "\e906";
$icon-metier: "\e907";
$icon-reconversion: "\e908";

