.niort-tech-component {
  margin-top:80px;

  .container {
    background-color: $darkblue;
  }

  h2, span, p {
    color: $white;
  }

  p, span {
    font-size : 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif ;
  }
}
