.organisateurs-component {
  margin-top: 80px;
  background-color: $darkblue;

  h4 {
    font-size: 18px;
    font-weight: 500;
    color: $lightgreen !important;
  }

  .box {
    p,
    li,
    strong,
    span {
      font-family: "Open Sans", sans-serif;
      color: #666666;
      font-size: 14px;
      font-weight: 500;
    }
    padding-top: 27px;
    padding-bottom: 27px;

    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}
